#schedule
{
    background-color:#292929;
}
.schedulepage
{
    padding-top:5em;
    padding-bottom: 5em;
}
.schedheader-contain
{
    text-align: center;
}
.ui.header.sched-head
{
    font-family: 'Electrolize', sans-serif;
    color:#e54f2f;
    font-size:5rem;
}
.ui.table
{
    background:#292929;
    color:goldenrod;
    font-size: 1.5em;
    font-family: 'Electrolize', sans-serif;
}
.ui.table thead th
{
    font-family: 'Electrolize', sans-serif;
    color:#e54f2f;
    font-size: 1.5em;
    background:#292929;
}
.schedule-contain
{
    margin-top:3em;
}
.table thead th
{
    font-family: 'Electrolize', sans-serif;
    color:#e54f2f;
    font-size: 1.5em;
    background:#292929;
    border:3px solid white;
}
.table td
{
    background:#292929;
    color:goldenrod;
    font-size: 1.5em;
    font-family: 'Electrolize', sans-serif;
    border:3px solid white;
}
@media only screen and (max-width:700px)
{
    .ui.header.sched-head
    {
        font-size: 3.5rem;
    }
}