#Sponsors {
  background-color:#292929; 
}
.Sponsorspage {
  padding-top: 5em;
  padding-bottom: 5em;
}
.ui.header.Sponsors-head {
  font-family: "Electrolize", sans-serif;
  color: #e54f2f;
  font-size: 5rem;
  text-align: center;
}
.sponsor-message-contain
{
    margin-top: 3em;
}
.ui.header.sponsor-message
{
    font-family: 'Electrolize', sans-serif;
    color:goldenrod;
    font-size:1.5rem;
    letter-spacing: 1px;
}
@media only screen and (max-width:700px)
{
    .ui.header.Sponsors-head
    {
        font-size: 3.5rem;
    }
    .ui.header.sponsor-message
    {
        font-size: 1em;
        margin-left:auto;
        margin-right: auto;
    }
}

.ui.image.sponsor-image
{
  transition: 0.6s;
}
.ui.image.sponsor-image:hover {
  transform: scale(1.1) perspective(0.5px);
}
.partnerheader-contain
{
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
}
.ui.header.Partner-head {
  font-family: "Electrolize", sans-serif;
  color: #e54f2f;
  font-size: 5rem;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .ui.header.Partner-head {
    font-size: 3.5rem;
  }
}
