#Contact
{
    background-color:#36454f;
}
.Contactpage 
{
    padding-top: 3em;
    padding-bottom: 3em;
}
.socials
{
    display: inline-block;
}
.social-links
{
    text-align: center;
}
.email-contain
{
    margin-top: 2em;
}
.ui.header.email
{
    font-family: 'Electrolize', sans-serif;
    color:goldenrod;
    font-size:1.5em;
}
.trade-mark
{
    margin-top: 1.5em;
}
summary
{
    font-family: 'Electrolize', sans-serif;
    color:goldenrod;
}
.credits
{
    font-family: 'Electrolize', sans-serif;
    color:goldenrod;
}
@media only screen and (max-width:700px)
{
    .ui.header.email
    {
        font-size: 1em;
    }
    .credits
    {
        font-size: 1em;
    }
}